<footer class="footer">
    <div class="container">
        <div class="copy">
            <ul class="copy-list">
                <li class="copy-item">
                    <a href="#">Home</a>
                </li>
                <li class="copy-item">
                    <a href="#">Services</a>
                </li>
                <li class="copy-item">
                    <a href="#">Our works</a>
                </li>
                <li class="copy-item">
                    <a href="#">Clients</a>
                </li>
                <li class="copy-item">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="socials">
            <h1>
                <a href="#" class="logo">Edie</a>
            </h1>

            <ul class="socials-list">
                <li class="socials-item">
                    <a href="#">
                        <img src="./assets/images/instagram.svg" alt="">
                    </a>
                </li>
                <li class="socials-item">
                    <a href="#">
                        <img src="./assets/images/linkedin.svg" alt="">
                    </a>
                </li>
                <li class="socials-item">
                    <a href="#">
                        <img src="./assets/images/twitter.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>

        <div class="news">
            <h4>Join news</h4>
            <div class="form-input">
                <input type="text" class="form-control" placeholder="Email">
                <button class="btn btn-primary">Join</button>
            </div>
        </div>
    </div>
</footer>