<div class="card">
    <div class="card-header">
        <div class="card-icon">
            <span class="material-symbols-outlined icon">
                {{cardFormation.icon}}
            </span>
        </div>
    </div>
    <div class="card-body">
        <h1 class="card-title">{{cardFormation.title}}</h1>
        <p class="card-subtitle">
            {{cardFormation.description}}
        </p>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Get started</button>
    </div>
</div>