<div class="hero3">
    <div class="container">
        <h1 class="hero3-title">Story, emotion and purpose</h1>
        <p class="hero3-subtitle">We help transform your ideas into real world applications that will outperform your
            toughest competition and help you achieve your strategic goals in short period of time.</p>

        <p class="hero3-subtitle">Want us to contact you?</p>

        <div class="form-input">
            <input type="text" class="form-control" placeholder="Email">
            <button class="btn btn-primary">Join</button>
        </div>
    </div>
</div>