<div class="container">
    <h2 class="portfolio-title">Good design means good business</h2>

    <div class="portfolio-container">
        <div class="portfolio-child">
            <img src="./assets/images/smarthome.jpg" alt="Smart home dashboard">
            <p class="p-subtitle">Full stack application</p>
            <p class="p-title">Smart home dashboard</p>
        </div>
        <div class="portfolio-child">
            <img src="./assets/images/onboard.png" alt="Onboard application">
            <p class="p-subtitle">UX/UI design</p>
            <p class="p-title">Onboard application</p>
        </div>
        <div class="portfolio-child">
            <img src="./assets/images/booking.png" alt="Booking system">
            <p class="p-subtitle">Mobile application</p>
            <p class="p-title">Booking system</p>
        </div>
        <div class="portfolio-child">
            <img src="./assets/images/juice-product.png" alt="Juice product homepage">
            <p class="p-subtitle">Front End applicati on</p>
            <p class="p-title">Juice product homepage</p>
        </div>
    </div>
</div>