<div class="container">
    <h1 class="formation-title">
        We offer high demand services
    </h1>
    <div class="cards">
        <app-card *ngFor="let cardFormation of cardFormations" [cardFormation]="cardFormation"></app-card>

        <!--  <div class="card">
            <div class="card-header">
                <div class="card-icon">
                    <span class="material-symbols-outlined icon">
                        edit
                    </span>
                </div>
            </div>
            <div class="card-body">
                <h1 class="card-title">UI/UX Design</h1>
                <p class="card-subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a metus ac nulla consequat aliquet id
                    quis
                    turpis.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Get started</button>
            </div>
        </div> -->
    </div>
</div>