.container{
    padding-inline: 100px;
    padding-block: 100px;

    .formation-title{
        max-width: 35%;
        font-weight: 200;
    }

    .cards{
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.53s ease;

        .card{
            padding: 20px;
            border-radius: 10px;
            margin: 0 10px;

            .card-title{
                font-size: 15px;
                padding: 10px 0;
            }

            .btn{
                border: none;
                cursor: pointer;
                padding: 10px;
                border-radius: 10px;
                /* color: #828282; */
                transition: 0.53s ease;
            }

            .icon{
                padding: 10px;
                background: #2D9CDB;
                border-radius: 10px;
                color: white;
            }
        }
    }
}

.card:is(:hover, :focus){
    box-shadow: 0px 10px 10px #F2F2F2;
    transition: 0.53s ease;

    .btn{
        background: #2D9CDB;
        color: #F2F2F2;
        transition: 0.53s ease;
    }
}

@media (max-width: 750px){
    .container{
        padding-inline: 20px;

        .formation-title{
            max-width: 100%;
        }

        .cards{
            flex-direction: column;
        }
    
    }
}