<section class="teams">
    <div class="container">
        <div class="teams-description">
            <h3 class="teams-subtitle">
                Meet the teams
            </h3>

            <h2 class="teams-title">We are chilled and a laidback team</h2>
            <p class="teams-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>

        <div class="teams-images">
            <div class="images-child">
                <img src="./assets/images/person1.png" alt="">
            </div>
            <div class="images-child">
                <img src="./assets/images/person2.png" alt="">
            </div>
            <div class="images-child">
                <img src="./assets/images/person3.png" alt="">
            </div>
        </div>
    </div>
</section>